In [91]:
import pandas as pd

In [92]:
df = pd.read_csv("D:\Projects\Test\Data\student-dataset.csv")
df

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22.0,3.5,3.7,3.1,1.0,4.0,4.0,4.0
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,NaN,2.9,3.2,3.6,5.0,5.0,4.0,5.0
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22.0,3.9,3.8,3.2,5.0,3.0,3.0,4.0
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20.0,NaN,2.8,3.2,5.0,5.0,2.0,4.0
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21.0,3.7,2.6,NaN,1.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,Amanda Tatum,United States of America,San Diego,32.72,-117.16,F,NaN,22.0,NaN,NaN,NaN,5.0,4.0,5.0,4.0
58,58,Cameron Steinberg,United States of America,Los Angeles,34.05,-118.24,M,NaN,20.0,2.1,3.9,3.9,5.0,5.0,5.0,5.0
59,59,Shuraih el-Karim,Pakistan,Khalabat,34.06,72.89,M,NaN,22.0,3.1,2.1,2.3,4.0,4.0,4.0,NaN
60,60,Katelyn Sharp,United States of America,Los Angeles,34.05,-118.24,F,NaN,20.0,3.9,3.7,2.8,5.0,5.0,3.0,5.0
61,61,Colin Lemont,China,Shanghai,31.05,121.40,M,NaN,21.0,3.6,4.0,3.1,4.0,4.0,5.0,4.0

In [93]:
df.isna()

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,False,False,False,False,False,False,False,True,False,True,True,True,False,False,False,False
58,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True
60,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [94]:
df.isna().sum()

id                     0
name                   0
nationality            0
city                   0
latitude               0
longitude              0
gender                 0
ethnic.group          62
age                    7
english.grade          9
math.grade            10
sciences.grade         5
language.grade         8
portfolio.rating       5
coverletter.rating     3
refletter.rating       4
dtype: int64

In [95]:
avgAge = int(df["age"].mean())
avgEng =  int(df["english.grade"].mean())
avgMath =  int(df["math.grade"].mean())


print("Average age: ", avgAge)

df['age'].fillna(avgAge, inplace=True)
df['english.grade'].fillna(avgEng, inplace=True)
df['math.grade'].fillna(avgMath, inplace=True)

Average age:  22

In [96]:
df.fillna(method= "pad")

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22.0,3.5,3.7,3.1,1.0,4.0,4.0,4.0
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22.0,2.9,3.2,3.6,5.0,5.0,4.0,5.0
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22.0,3.9,3.8,3.2,5.0,3.0,3.0,4.0
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20.0,3.0,2.8,3.2,5.0,5.0,2.0,4.0
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21.0,3.7,2.6,3.2,1.0,4.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,Amanda Tatum,United States of America,San Diego,32.72,-117.16,F,NaN,22.0,3.0,3.0,4.0,5.0,4.0,5.0,4.0
58,58,Cameron Steinberg,United States of America,Los Angeles,34.05,-118.24,M,NaN,20.0,2.1,3.9,3.9,5.0,5.0,5.0,5.0
59,59,Shuraih el-Karim,Pakistan,Khalabat,34.06,72.89,M,NaN,22.0,3.1,2.1,2.3,4.0,4.0,4.0,5.0
60,60,Katelyn Sharp,United States of America,Los Angeles,34.05,-118.24,F,NaN,20.0,3.9,3.7,2.8,5.0,5.0,3.0,5.0
61,61,Colin Lemont,China,Shanghai,31.05,121.40,M,NaN,21.0,3.6,4.0,3.1,4.0,4.0,5.0,4.0

In [97]:
df.isna().sum()

id                     0
name                   0
nationality            0
city                   0
latitude               0
longitude              0
gender                 0
ethnic.group          62
age                    0
english.grade          0
math.grade             0
sciences.grade         5
language.grade         8
portfolio.rating       5
coverletter.rating     3
refletter.rating       4
dtype: int64

In [101]:
df.drop("ethnic.group", axis=1, inplace=True)
df

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22.0,3.5,3.7,3.1,1.0,4.0,4.0,4.0
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22.0,3.9,3.8,3.2,5.0,3.0,3.0,4.0
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20.0,3.0,2.8,3.2,5.0,5.0,2.0,4.0
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,21.0,3.7,2.6,NaN,1.0,4.0,4.0,5.0
5,5,Rochelle Johnson,United States of America,Indianapolis,39.77,-86.16,F,21.0,3.4,3.1,3.7,5.0,2.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,Amanda Tatum,United States of America,San Diego,32.72,-117.16,F,22.0,3.0,3.0,NaN,5.0,4.0,5.0,4.0
58,58,Cameron Steinberg,United States of America,Los Angeles,34.05,-118.24,M,20.0,2.1,3.9,3.9,5.0,5.0,5.0,5.0
59,59,Shuraih el-Karim,Pakistan,Khalabat,34.06,72.89,M,22.0,3.1,2.1,2.3,4.0,4.0,4.0,NaN
60,60,Katelyn Sharp,United States of America,Los Angeles,34.05,-118.24,F,20.0,3.9,3.7,2.8,5.0,5.0,3.0,5.0
61,61,Colin Lemont,China,Shanghai,31.05,121.40,M,21.0,3.6,4.0,3.1,4.0,4.0,5.0,4.0

In [103]:
df.dropna(inplace=True)
df

,id,name,nationality,city,latitude,longitude,gender,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,22.0,3.5,3.7,3.1,1.0,4.0,4.0,4.0
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,22.0,3.9,3.8,3.2,5.0,3.0,3.0,4.0
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,20.0,3.0,2.8,3.2,5.0,5.0,2.0,4.0
5,5,Rochelle Johnson,United States of America,Indianapolis,39.77,-86.16,F,21.0,3.4,3.1,3.7,5.0,2.0,4.0,4.0
6,6,Joey Abreu,China,Shenyang,41.79,123.43,M,22.0,3.7,3.0,3.6,2.0,5.0,5.0,5.0
8,8,Lee Dong,Philippines,Manila,14.60,120.98,F,24.0,3.9,3.6,3.2,2.0,4.0,3.0,5.0
9,9,Maa'iz al-Dia,Turkey,Istanbul,41.02,28.96,M,22.0,2.4,2.8,3.8,3.0,5.0,5.0,4.0
10,10,Maja Nicholson,United States of America,Dallas,32.78,-96.80,F,23.0,3.4,3.5,3.2,5.0,4.0,2.0,5.0
11,11,Sasha Jansen,United States of America,Chicago,41.85,-87.65,F,21.0,1.7,3.0,3.6,5.0,4.0,4.0,5.0
12,12,Alexander Sherman,United States of America,Omaha,41.26,-95.94,M,20.0,3.0,3.6,3.9,5.0,4.0,4.0,5.0
14,14,Kolbi Strunk,United States of America,Mission Viejo,33.60,-117.67,M,22.0,3.2,3.9,3.3,5.0,4.0,3.0,4.0
16,16,Meggan Smith,United States of America,Los Angeles,34.05,-118.24,F,21.0,2.9,3.0,3.6,5.0,2.0,5.0,4.0
18,18,David Pulc,Canada,Toronto,43.67,-79.42,M,24.0,3.9,2.9,4.0,5.0,5.0,4.0,2.0
19,19,Kyle Luckey,United States of America,Moreno Valley,33.94,-117.23,M,23.0,3.7,3.9,3.4,5.0,3.0,4.0,4.0
21,21,David Weber,China,Peking,39.93,116.39,M,20.0,3.9,3.9,3.9,2.0,3.0,4.0,5.0
22,22,Rachel Jambor,United States of America,Chicago,41.85,-87.65,F,22.0,3.6,3.6,3.9,5.0,3.0,4.0,4.0
23,23,Mus'ab al-Moustafa,Pakistan,Rawalpindi,33.60,73.07,M,23.0,3.8,3.0,3.8,2.0,2.0,5.0,4.0
24,24,Sila Nguyen,China,Hebi,35.90,114.19,M,23.0,2.8,3.5,3.5,4.0,5.0,4.0,4.0
27,27,Brandon Barbour,United States of America,South Hill,47.14,-122.27,M,21.0,3.0,3.7,3.3,5.0,4.0,5.0,5.0
28,28,Reilly Wagar,United States of America,Modesto,37.64,-121.00,F,23.0,3.4,3.0,3.7,5.0,5.0,4.0,5.0
30,30,Dakota Wirth,United States of America,Sacramento,38.58,-121.49,F,22.0,3.4,3.9,3.6,5.0,3.0,5.0,5.0
32,32,Michael Benson,United States of America,Phoenix,33.45,-112.07,M,21.0,3.8,3.7,3.7,5.0,4.0,5.0,3.0
33,33,Sean Rozga,United States of America,Los Angeles,34.05,-118.24,M,22.0,3.4,3.8,3.6,5.0,4.0,5.0,4.0
34,34,Cody Vermeylen,United States of America,Detroit,42.33,-83.05,M,23.0,3.3,3.8,3.5,5.0,2.0,3.0,4.0
35,35,Kinaana al-Jamail,India,Kanpur,26.47,80.35,F,22.0,3.3,3.0,3.7,3.0,4.0,4.0,4.0
40,40,Sharon Fyfe,United States of America,Los Angeles,34.05,-118.24,F,22.0,3.7,3.0,3.8,5.0,4.0,5.0,4.0
41,41,Afnaan el-Mohammed,India,New Delhi,28.60,77.20,F,22.0,1.7,3.5,3.9,2.0,5.0,5.0,4.0
42,42,Jesse Williams,Russian Federation,Moscow,55.75,37.62,F,21.0,3.9,3.4,2.6,4.0,4.0,4.0,5.0
43,43,Kenny Fukushima,Japan,Tokyo,35.69,139.75,M,22.0,3.0,2.9,3.3,4.0,5.0,5.0,5.0
44,44,Tawnie Glaisher,United States of America,Fremont,37.55,-121.99,F,24.0,3.4,3.0,3.8,5.0,4.0,4.0,5.0
45,45,Britany Stevens,United States of America,Lafayette,37.89,-122.12,F,23.0,3.6,3.3,3.5,5.0,3.0,3.0,3.0
48,48,Sidney Beavers,United States of America,Los Angeles,34.05,-118.24,M,23.0,2.3,2.8,3.5,5.0,4.0,4.0,4.0
49,49,Miriam Aguilar,Mexico,Mexicali,32.65,-115.47,F,22.0,3.6,3.8,2.8,2.0,4.0,4.0,4.0
50,50,Issac Mata,Mexico,Tehuacán,18.45,-97.38,M,23.0,2.4,3.1,2.7,1.0,5.0,5.0,4.0
51,51,Hannah Uren,United States of America,Los Angeles,34.05,-118.24,F,22.0,3.2,2.2,3.5,5.0,5.0,3.0,5.0
52,52,Zachary Bradley,Spain,Madrid,40.41,-3.69,M,22.0,3.5,3.0,3.4,2.0,3.0,5.0,5.0
54,54,Nicole Humpal,United States of America,Walnut Creek,37.91,-122.06,F,22.0,3.0,3.7,4.0,5.0,3.0,5.0,3.0
55,55,Georgia Williams,United States of America,Memphis,35.15,-90.05,F,23.0,2.9,3.6,3.1,5.0,5.0,5.0,2.0
58,58,Cameron Steinberg,United States of America,Los Angeles,34.05,-118.24,M,20.0,2.1,3.9,3.9,5.0,5.0,5.0,5.0
60,60,Katelyn Sharp,United States of America,Los Angeles,34.05,-118.24,F,20.0,3.9,3.7,2.8,5.0,5.0,3.0,5.0
61,61,Colin Lemont,China,Shanghai,31.05,121.40,M,21.0,3.6,4.0,3.1,4.0,4.0,5.0,4.0

In [ ]:
df.to_csv('testtatagsdgasgasdg.csv', index=False)