# Importing Pandas

In [ ]:
import pandas as pd

# Read the CSV file

In [ ]:
df = pd.read_csv('Dataset/student-dataset.csv')

# Display values in the dataframe

In [ ]:
df.head()

# Prints all the NaN cells in the dataframe

In [ ]:
df.isna()

# Returns the sum of NaN values in each column.

In [ ]:
df.isna().sum()

# Returns the total NaN values in the dataframe

In [ ]:
totalnull = df.isna().sum().sum()
print(f'Total null cell [ {totalnull} ] in dataset')

# Handling missing values

In [ ]:
# df.fillna(df.mean()) - fill NaN with mean
# df.fillna(df.median()) - fill NaN with median
# df.fillna(df.mode()) - fill NaN with mode
# df.fillna(df.min()) - fill NaN with minimum
# df.fillna(df.max()) - fill NaN with maximum


# df.fillna(methode = 'ffill') - fill NaN with forward fill 
# df.fillna(methode = 'bfill') - fill NaN with backward fill
# df.fillna(methode = 'pad') - fill NaN with pad (Previous Value)

In [ ]:
#df = df.fillna(method ='backfill')
#df.head(10)

# To calculate the mean() we use the mean function of the particular column

In [ ]:
avgAge = df['age'].median()

df['age'].fillna(int(avgAge), inplace=True)
df['age'].isnull().sum()
df

In [ ]:
avgAge = df['english.grade'].mean()

df['english.grade'].fillna(int(avgAge), inplace=True)
df['english.grade'].isnull().sum()
df

# Droping a Column

In [ ]:
# axis=1 tells Python that we want to apply function on columns instead of rows
# To delete the column permanently from original dataframe df, we can use the option inplace=True

In [ ]:
df.drop("ethnic.group",axis=1,inplace=True)
df

# Droping a Row

In [ ]:
# to drop any rows that contain any null values

In [ ]:
df.dropna(inplace=True)
df

# Fill the Output and OutputFile

In [ ]:
df.to_csv('Final.csv', index=False)