In [12]:
import pandas as pd

In [13]:
# Read the csv file
df = pd.read_csv('res/data.csv')
df.head(4)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual

In [14]:
# Get the data Head name
top_head = df.head(0)
for i in top_head:
    print(i)

Series_reference
Period
Data_value
Suppressed
STATUS
UNITS
Magnitude
Subject
Group
Series_title_1
Series_title_2
Series_title_3

In [15]:
# Get the number of rows and columns
df.info()
print(f'Colums: {df.shape[1]} Rows: {df.shape[0]}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21415 entries, 0 to 21414
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  21415 non-null  object
 1   Period            21415 non-null  float64
 2   Data_value        16848 non-null  float64
 3   Suppressed        4567 non-null   object
 4   STATUS            21415 non-null  object
 5   UNITS             21415 non-null  object
 6   Magnitude         21415 non-null  int64
 7   Subject           21415 non-null  object
 8   Group             21415 non-null  object
 9   Series_title_1    21415 non-null  object
 10  Series_title_2    21415 non-null  object
 11  Series_title_3    21415 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.0+ MB
Colums: 12 Rows: 21415